body{
    background-color: #080813;
    text-align: center;
    font-family: cursive;
    color: white;
}
#counter{
    background-color: #b1935c;
    height: 60vh;
    width: 50%;
    margin: 150px auto;
    border-radius: 10px;
}
h1{
    font-size: 50px;
    padding-top: 30px;
}
#count-el{
    font-size: 40px;
}
button{
    position: relative;
    background-color: #080813;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 15px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 2px;
}